# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
pg_data